html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  color: #ccc;
}

.container-1 {
  background-image: url(./Images/Image-2.jpg);
  min-height: 100%;
}
.container-2 {
  background-image: url(./Images/Image-3.jpg);
  min-height: 400px;
}
.container-3 {
  background-image: url(./Images/Image-4.jpg);
  min-height: 400px;
}
.container-4 {
  background-image: url(./Images/Image-1.jpg);
  min-height: 400px;
}
.container-5 {
  background-image: url(./Images/Image-5.jpg);
  min-height: 400px;
}
.container-6 {
  background-image: url(./Images/R.jpg);
  min-height: 100%;
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6 {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pre-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 2px;
}
.pre-text > .text {
  padding: 5px 35px;
  background-color: #000;
}

.some-text {
  padding: 40px 80px;
  background: #4682a9;
  text-align: center;
}
.some-text > h2 {
  color: #fd8d14;
}
.some-text > p {
  text-align: justify;
}
